*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
}

nav {
    background-color: #1B2064;
}

nav .nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1B2064;
    margin-right: 200px;
    margin-left: 200px;
}

.left-section {
    display: flex;
    flex-direction: row;
    width: 300px;
    align-items: center;
}

.left-section p {
    color: white;
}

.middle-section {
    display: flex;
    flex: 1;
    max-width: 300px;
}

.middle-section ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.middle-section ul a {
    margin-right: 16px;
    color: white;
    padding: 3px 8px;
    border-radius: 3px;
}

.middle-section a.active,
.middle-section a:hover {
    background-color: green;
    transition: .5s;
}

.right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 330px;
}

.logo {
    height: 50px;
    margin-left: 15px;
    margin-right: 10px;
}

.members-only {
    font-size: 12px;
    color: green;
}

.service-button {
    height: 40px;
    /* width: 95px; */
    background-color: rgb(226, 182, 8);
    color: #9b0e92;
    font-weight: bold;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    font-size: 13px;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    /* display: block; */
    /* word-wrap: break-word; */
    white-space: normal;
    border-radius: 3px;
}

.profile-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 7px;
    border-radius: 3px;
    color: white;
    margin-top: 7px;
    margin-bottom: 7px;
    cursor: pointer;
}

.profile-picture {
    height: 40px;
    border-radius: 20px;
    margin-right: 8px;
}

.container {
    margin-top: 25px;
    margin-right: 200px;
    margin-left: 200px;
    /* overflow: auto; */
}

.header-grid {
    display: grid;
    grid-template-columns: 4fr 8fr;
    column-gap: 25px;
    row-gap: 20px;
}

.account {
    background-color: lightblue;
    border-radius: 3px;
}

.account-info {
    display: flex;
    flex-direction: column; /* Default */
    justify-content: center;
    align-items: center;
}

.greeting-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /* Default */
    justify-content: space-between;
    align-items: center;
}

.member-subtitle {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
}

.statistics {
    background-color: pink;
    border-radius: 3px;
}

.greeting {
    font-size: 17px;
    margin-top: 7px;
    color: #591c84;
    font-weight: 500;
}

.member-id {
    font-size: 25px;
    margin-top: 7px;
    color: #591c84;
    margin-top: 25px;
}

.account-info small {
    font-size: 15px;
    margin-top: 2px;
    color: #555255;
    margin-bottom: 25px;
}

.greeting-bottom {
    padding: 20px;
}

.profile-button {
    height: 35px;
    /* width: 30%; */
    padding: 7px 5px;
    color: white;
    background-color: green;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 240px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    padding: 15px 25px;
    border-radius: 3px;
    min-width: 163px;
    min-height: 168px;
}

.card i {
    color: rgb(229, 218, 7);
    margin-bottom: 10px;
    font-size: 25px
}

.card p {
    color: #ddda0e;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

.card button {
    color: #e9de0f;
    background-color: #b81dcc;
    font-size: 12px;
    width: 85px;
    height: 25px;
    padding-bottom: 20px;
}

/* TABLE STYLES */
table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: white;
    text-align: center;
    overflow: hidden;
}
table thead {
    box-shadow: 0 5px 10px #e1e5ee;
}
table th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}
table td {
    padding: 1rem 2rem;
}
table a {
    text-decoration: none;
    color: #2962ff;
}
table .status {
    border-radius: 0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
}
table .status-pending {
    background-color: #fff0c2;
    color: #a68b00;
}
table .status-paid {
    background-color: #c8e6c9;
    color: #388e3c;
}
table .status-unpaid {
    background-color: #ffcdd2;
    color: #c62828;
}
table .amount {
    text-align: center;
}
table tr:nth-child(even) {
    background-color: #f4f6fb;
}

/* PAGINATION */
.pagination {
    display: inline-block;
    margin-top: 20PX;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #721fae;
    color: white;
    border: 1px solid #afaa4c;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  @media screen and (max-width: 1274px) {
    .header-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
     }
  }